torch
torchvision
pytorch_lightning
argParseFromDoc
starfile
mrcfile
numpy
tqdm
scipy
torchio
pyyaml
scikit-image
matplotlib
pandas
joblib
monai
ruamel.yaml
git+https://github.com/rsanchezgarc/configfile
